<main>
    <section id="apresentacao">
        <div id="box_ap">
            <h1 id="ap_titulo">Apresentação</h1>
            <p id="ap_texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar, tortor eu tincidunt interdum, ipsum justo convallis odio, at convallis neque mi vel nisi. Integer ut lorem ex. Aliquam vehicula tempor dolor, congue vulputate dolor ornare a. Mauris porta nunc ac ex fringilla, vitae rhoncus nibh porta. Morbi venenatis dui ante, id facilisis sapien congue vel. Proin semper, leo a ornare efficitur, massa est faucibus augue, ut malesuada urna ante vitae massa. Curabitur imperdiet odio non urna pretium, ut maximus nulla tempor. Etiam a dolor in nunc ullamcorper tincidunt vel eu lorem. Pellentesque tristique sagittis quam non vestibulum. Sed aliquet tincidunt dui, non auctor ipsum blandit ut.</p>
            <a id="ap_link" href="">Saiba Mais</a>
        </div>
    </section>
    <section id="dados_nutricionais" class="box-reverse">
        <div id="box_ap" class="box_ap2">
            <h1 id="ap_titulo">Dados nutricionais</h1>
            <p id="ap_texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar, tortor eu tincidunt interdum, ipsum justo convallis odio, at convallis neque mi vel nisi. Integer ut lorem ex. Aliquam vehicula tempor dolor, congue vulputate dolor ornare a. Mauris porta nunc ac ex fringilla, vitae rhoncus nibh porta. Morbi venenatis dui ante, id facilisis sapien congue vel. Proin semper, leo a ornare efficitur, massa est faucibus augue, ut malesuada urna ante vitae massa. Curabitur imperdiet odio non urna pretium, ut maximus nulla tempor. Etiam a dolor in nunc ullamcorper tincidunt vel eu lorem. Pellentesque tristique sagittis quam non vestibulum. Sed aliquet tincidunt dui, non auctor ipsum blandit ut.</p>
        </div>
        <img id="ap_img" src="assets/modelo_generico.jfif" >
    </section>
    <section id="exercicios_fisicos" class="box">
        <img id="ap_img" src="assets/modelo_generico.jfif" routerLink="exercicios">
        <div id="box_ap" class="box_ap1">
            <h1 id="ap_titulo">Tutorias de exercicios fisicos</h1>
            <p id="ap_texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar, tortor eu tincidunt interdum, ipsum justo convallis odio, at convallis neque mi vel nisi. Integer ut lorem ex. Aliquam vehicula tempor dolor, congue vulputate dolor ornare a. Mauris porta nunc ac ex fringilla, vitae rhoncus nibh porta. Morbi venenatis dui ante, id facilisis sapien congue vel. Proin semper, leo a ornare efficitur, massa est faucibus augue, ut malesuada urna ante vitae massa. Curabitur imperdiet odio non urna pretium, ut maximus nulla tempor. Etiam a dolor in nunc ullamcorper tincidunt vel eu lorem. Pellentesque tristique sagittis quam non vestibulum. Sed aliquet tincidunt dui, non auctor ipsum blandit ut.</p>
        </div>
    </section>
    <section id="contagem_calorias" class="box-reverse">
        <div id="box_ap" class="box_ap2">
            <h1 id="ap_titulo">Informações nutricionais</h1>
            <p id="ap_texto">Você pode encontrar uma tabela nutricional em praticamente todas as embalagens de alimentos que compra. No entanto, com todos esses números complicados e nomes de ingredientes, a maioria das pessoas simplesmente ignora as informações nutricionais dos produtos. A tabela nutricional é importante para a comunicação entre produtores e consumidores. Sendo uma ferramenta que facilite o conhecimento da composição dos alimentos e possa influenciar as escolhas do consumidor, refletindo na saúde do consumidor.</p>
        </div>
        <img id="ap_img" src="assets/modelo_generico.jfif" routerLink="infonutri">
    </section>
    <section id="planos_alimentares" class="box">
        <img id="ap_img" src="assets/modelo_generico.jfif" routerLink="contagem">
        <div id="box_ap"  class="box_ap1">
            <h1 id="ap_titulo">Contagem de Calorias</h1>
            <p id="ap_texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar, tortor eu tincidunt interdum, ipsum justo convallis odio, at convallis neque mi vel nisi. Integer ut lorem ex. Aliquam vehicula tempor dolor, congue vulputate dolor ornare a. Mauris porta nunc ac ex fringilla, vitae rhoncus nibh porta. Morbi venenatis dui ante, id facilisis sapien congue vel. Proin semper, leo a ornare efficitur, massa est faucibus augue, ut malesuada urna ante vitae massa. Curabitur imperdiet odio non urna pretium, ut maximus nulla tempor. Etiam a dolor in nunc ullamcorper tincidunt vel eu lorem. Pellentesque tristique sagittis quam non vestibulum. Sed aliquet tincidunt dui, non auctor ipsum blandit ut.</p>
        </div>
    </section>
    <section id="contagem_calorias" class="box-reverse">
        <div id="box_ap" class="box_ap2">
            <h1 id="ap_titulo">Planos Alimentares IF</h1>
            <p id="ap_texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pulvinar, tortor eu tincidunt interdum, ipsum justo convallis odio, at convallis neque mi vel nisi. Integer ut lorem ex. Aliquam vehicula tempor dolor, congue vulputate dolor ornare a. Mauris porta nunc ac ex fringilla, vitae rhoncus nibh porta. Morbi venenatis dui ante, id facilisis sapien congue vel. Proin semper, leo a ornare efficitur, massa est faucibus augue, ut malesuada urna ante vitae massa. Curabitur imperdiet odio non urna pretium, ut maximus nulla tempor. Etiam a dolor in nunc ullamcorper tincidunt vel eu lorem. Pellentesque tristique sagittis quam non vestibulum. Sed aliquet tincidunt dui, non auctor ipsum blandit ut.</p>
        </div>
        <img id="ap_img" src="assets/modelo_generico.jfif" routerLink="planosIF">
    </section>
</main>
<div id="footer"></div>   
