 <maim>
    <section id="doenças">
       <h1>DOENÇAS ALIMENTARES</h1>
       <div  class="carrosel">
        <div class="ap_title">
            <h1>OBESIDADE</h1>
            <h1>VOCÊ SABIA?</h1>
        </div>
        <div class="ap_text" id="obesidade">
            <div class="ap_text1" >
                <h3>O QUE É</h3>
                <li>O sedentarismo é a diminuição ou ausência da prática de atividade física, caracterizando um gasto calórico reduzido. Ele é intensificado pelos hábitos da vida moderna, como passar muito tempo dentro de carros, tempo que gastamos jogados no sofá assistindo à TV enquanto comemos alguma besteira.</li>
            </div>
            <div class="ap_text1">
                <h3>INCIDÊNCIA</h3>
                <li>Os brasileiros em idade adulta pouco ativos para as atividades físicas representam 40,3%*. O sedentarismo causa 13,2% das mortes no país.</li>
            </div>
            <div class="ap_text1">
                <h3>CAUSAS</h3>
                <li>O sedentarismo é a diminuição ou ausência da prática de atividade física, caracterizando um gasto calórico reduzido. Ele é intensificado pelos hábitos da vida moderna, como passar muito tempo dentro de carros, tempo que gastamos jogados no sofá assistindo à TV enquanto comemos alguma besteira.</li>
            </div>
            <div class="ap_text1">
                <h3>TRATAMENTO</h3>
                <li>O sedentarismo é a diminuição ou ausência da prática de atividade física, caracterizando um gasto calórico reduzido. Ele é intensificado pelos hábitos da vida moderna, como passar muito tempo dentro de carros, tempo que gastamos jogados no sofá assistindo à TV enquanto comemos alguma besteira.</li>
            </div>
        </div>
       </div>
       <div class="carrosel">
        <div class="ap_title" id="sedentarismo">
            <h1>SEDENTARISMO</h1>
            <h1>VOCÊ SABIA?</h1>
        </div>
        <div class="ap_text">
            <div class="ap_text1">
                <h3>O QUE É</h3>
                <li>O sedentarismo é a diminuição ou ausência da prática de atividade física, caracterizando um gasto calórico reduzido. Ele é intensificado pelos hábitos da vida moderna, como passar muito tempo dentro de carros, tempo que gastamos jogados no sofá assistindo à TV enquanto comemos alguma besteira.</li>
            </div>
            <div class="ap_text1">
                <h3>INCIDÊNCIA</h3>
                <li>Os brasileiros em idade adulta pouco ativos para as atividades físicas representam 40,3%*. O sedentarismo causa 13,2% das mortes no país.</li>
            </div>
            <div class="ap_text1">
                <h3>CAUSAS</h3>
                <li>A primeira vista, ficar parado pode ser mais atrativo do que praticar exercícios físicos. Porém, o corpo precisa de movimento na quantidade certa e, quando ele não recebe esse estímulo, as consequências são amplas. Elas afetam a qualidade de vida. Abalam a saúde, causam limitações físicas e prejuízos para a saúde mental. Além de ter consequências na saúde, como obesidade e diabetes.</li>
            </div>
            <div class="ap_text1">
                <h3>TRATAMENTO</h3>
                <li>O sedentarismo não é uma doença. Ele não tem um tratamento, mas é importante que seja combatido. Isso é feito por meio da prática regular de exercícios e atividades físicas Primeiramente é interessante fazer uma adequação nos hábitos. Adotar um estilo de vida mais saudável. De antemão, é fundamental passar por uma consulta médica. Fazer um check-up e verificar se não houve prejuízos para o organismo.</li>
            </div>
        </div>
       </div>
       <div  class="carrosel">
        <div class="ap_title" id="diabetes">
            <h1>DIABETES</h1>
            <h1>VOCÊ SABIA?</h1>
        </div>
        <div class="ap_text" >
            <div class="ap_text1">
                <h3>O QUE É</h3>
                <li>Diabetes mellitus é o nome dado ao grupo de doenças que cursam com uma dificuldade do organismo em controlar os níveis de glicose do sangue, mantendo-os sempre acima do normal. Dizemos que o diabetes é um grupo de doenças porque existe mais de um tipo de diabetes, apresentando causas diferentes e mecanismos distintos para a desregulação da glicemia.</li>
            </div>
            <div class="ap_text1">
                <h3>INCIDÊNCIA</h3>
                <li>De acordo com a Sociedade Brasileira de Diabetes, existem atualmente, no Brasil, mais de 13 milhões de pessoas vivendo com a doença, o que representa 6,9% da população nacional.</li>
            </div>
            <div class="ap_text1">
                <h3>CAUSAS</h3>
                <ul id="lista_causas">
                    <li>Obesidade, (particularmente a obesidade abdominal e inclusive a obesidade infantil);</li>
                    <li>Presença do diabetes na família; </li>
                    <li>Falta de atividade física regular; </li>
                    <li>Hipertensão (Pressão Arterial alta);</li>
                    <li>Níveis altos de colesterol e/ou triglicérides.</li>
                </ul>
            </div>
            <div class="ap_text1">
                <h3>TRATAMENTO</h3>
                <li>O tratamento correto do diabetes significa manter uma vida saudável e o controle da glicemia, a fim de evitar possíveis complicações da doença. Os principais cuidados para tratar o diabetes incluem: alimentação saudável, atividade física e uso de medicamentos seguindo as orientações de profissionais da saúde</li>
            </div>
        </div>
    </div>
    </section>
</maim>   
    <div id="footer">
        <p>Desenvolvido por Cauã Dantas de Souza e Jehnnyfer Oliveira Fernandes</p>
        <p><b>Instituto Federal do Rio Grande do Norte - Campus Parnamirim</b></p>
    </div>