<header id="capa_index">
    <nav class="nav">
        <img class="logo" src="/assets/INFONUTRI.png">
        <ul class="menu">
            <div id="menu-pc">
            <li><a routerLink="index">Início</a></li>
            </div>
            <div id="menu-pc">
            <li><a routerLink="dadosnutri">Dados nutricionais</a></li>
            </div>
            <div id="menu-pc">
            <li><a routerLink="exercicios">Exercicios Fisicas</a></li>
            </div>
            <div id="menu-pc">
            <li><a routerLink="infonutri">Informações nutricionais</a></li>
            </div>
            <div id="menu-pc">
            <li><a routerLink="contagem">Contagem de Calorias</a></li>
            </div>
            <div id="menu-pc">
            <li><a routerLink="planosIF">Planos alimentares IF</a></li>
            </div>
            <div id="menu-cel">
            <li><img class="logo" src="/assets/Menu.png">
                <ul>
                    <li><a routerLink="index">Início</a></li>
                    <li><a routerLink="dadosnutri">Dados nutricionais</a></li>
                    <li><a routerLink="exercicios">Exercicios Fisicas</a></li>
                    <li><a routerLink="infonutri">Informações nutricionais</a></li>
                    <li><a routerLink="contagem">Contagem de Calorias</a></li>
                    <li><a routerLink="planosIF">Planos alimentares IF</a></li> 
                </ul>
            </li>
            </div>
        </ul>
    </nav>
</header>

<router-outlet></router-outlet>