<section id="alimentos-if">
<div style="display: flex;flex-direction: row;">
<img id="ap_img" src="assets/cantina_if.png" width="100px" height="100px">
<h3 id="AIF">ALIMENTOS IF</h3>
</div>
<form>
  <input type="text" placeholder="Pesquisar" class="Pesquisa" [formControl]="pesquisa">
</form>
<section *ngFor="let alim of AlimentosIF">
<div class="card-body" *ngIf="Pesquisa() == alim.Nome || Pesquisa() == alim.Nome.toLowerCase() || Pesquisa() == alim.Nome.toUpperCase()">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Peso</th>
            <th scope="col">Calorias</th>
            <th scope="col">Gordura</th>
            <th scope="col">Sodio</th>
            <th scope="col">Carboidratos</th>
            <th scope="col">Proteina</th>
            <th scope="col">Fibra</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="ali">{{alim.Nome}}</td>
            <td>100g ou ml</td>
            <td>{{alim.Calorias}}</td>
            <td>{{alim.Gordura}}</td>
            <td>{{alim.Sodio}}</td>
            <td>{{alim.Carboidratos}}</td>
            <td>{{alim.Proteina}}</td>
            <td>{{alim.Fibra}}</td>
          </tr>
        </tbody>
    </table>
</div>
</section>
<section>
  <div class="card-body" *ngIf="Pesquisa() == ''">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Peso</th>
              <th scope="col">Calorias</th>
              <th scope="col">Gordura</th>
              <th scope="col">Sodio</th>
              <th scope="col">Carboidratos</th>
              <th scope="col">Proteina</th>
              <th scope="col">Fibra</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let alim of AlimentosIF">
              <td class="ali">{{alim.Nome}}</td>
              <td>100g ou ml</td>
              <td>{{alim.Calorias}}</td>
              <td>{{alim.Gordura}}</td>
              <td>{{alim.Sodio}}</td>
              <td>{{alim.Carboidratos}}</td>
              <td>{{alim.Proteina}}</td>
              <td>{{alim.Fibra}}</td>
            </tr>
          </tbody>
      </table>
  </div>
  </section>
</section>
<div id="footer">
  <p>Desenvolvido por Jehnnyfer Oliveira Fernandes e Cauã Dantas de Souza</p>
  <p><b>Instituto federal do Rio Grande do Norte - Campus Parnamirim</b></p>
</div>  
