#section-exercicios{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #137474;
    padding-top: 15vh;
}

#biotipos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carrosel{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 90vw;
    background-color: whitesmoke;
    margin: 5vh;
    border-radius: 10px;
}

.ap_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 35vh;
    border-radius: 10px;
    background-color: rgb(111, 180, 9);
}

.ap_title h1{
    font-size: 70px;
    letter-spacing: 1.23px;
    line-height: 1.20em;
}

.ap_text2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.ap_text1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18vw;
    text-align: justify;
    margin: 2vw;
}

.ap_text1 h3{
    font-size: 28px;
}

.ap_text h3,.ap_text li{
    color: black;
}

.ap_text2 li{
    font-family: calibri;
    line-height: 1.35em;
}

#lista_causas li{
    margin: 2vh;
}

.ap_text2 h3{
    color: black;
    font-family: serif;
}


.ap_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 35vw;
}

iframe{
    width: 30vw;
    height: 35vh;
    border-radius: 20px;
    border: 4px solid #f54828;
}

.ap_text h1{
    text-align: center;
    letter-spacing: 1.23px;
}

.divisoria{
    letter-spacing: 1.23px;
}

#bracos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 8vw;
    padding-top: 8vw;
}

#ombros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 8vw;
}

#abdomen{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 8vw;
}

#peitoral{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 8vw;
}

#costas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 8vw;
}

#pernas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 8vw;
    padding-top: 8vw;
}

#flexboxleft{
    border-radius: 8px;
    border-left: 10px solid #f54828;
    padding-left: 4vw;
    padding-right: 10vw;
}

#flexboxright{
    border-radius: 8px;
    border-right: 10px solid #f54828;
    padding-left: 10vw;
    padding-right: 4vw;
}

@media (max-width:950px){
    #bracos{
        flex-direction: column;
    }
    
    #ombros{
        flex-direction: column-reverse;
    }
    
    #abdomen{
        flex-direction: column;
    }
    
    #peitoral{
        flex-direction: column-reverse;
    }
    
    #costas{
        flex-direction: column;
    }
    
    #pernas{
        flex-direction: column-reverse;
    }
    
    .ap_text{
        width: 70vw;
        padding: 10vh;
        border: none;
    }

    #flexboxright, #flexboxleft{
        border: none;
        padding-left: 8vw;
        padding-right: 8vw;
    }

    iframe{
        width: 50vw;
    }

    .carrosel{
        width: 95vw;
        height: 130vh;
    }

    .ap_title{
        width: 95vw;
    }

    .ap_text1{
        margin: 1.5vw;
    }
}

@media (max-width:750px){
    .ap_text{
        width: 80vw;
        padding: 8vh;
    }

    iframe{
        width: 80vw;
    }
    h1{
        font-size: 44px;
    }

    .carrosel{
        height: 130vh;
    }

    .ap_text2{
        flex-direction: column;
        align-items: center;
    }

    .ap_text1{
        width: 80%;
    }

    .ap_title h1{
        font-size: 36px;
    }

    h1{
        font-size: 30px;
    }
}