<main>
    <section id="apresentacao">
        <div id="box_ap3">
            <h1 id="ap_titulo">Apresentação</h1>
            <p id="ap_texto">O INFONUTRI foi desenvolvido pensando em contribuir para o consumo de uma alimentação consciente e saudável. Desde a criação do site, nosso objetivo é compartilhar informações que contribuam para a tomada de decisões em busca de uma alimentação equilibrada, saudável e prática.</p>
            <p id="ap_texto">Aqui você encontrará informações nutricionais, saúde, bem-estar e exercícios físicos:  esse é o universo que trazemos até você. Aqui reunirá diversos conteúdos para tornar o seu dia a dia mais simples, leve e saudável.</p><br>  
        </div>
    </section>
    <section id="exercicios_fisicos" class="box">
        <img id="ap_img" src="assets/exercicios_fisicos.png">
        <div id="box_ap" class="box_ap1">
            <h1 id="ap_titulo">Tutoriais de exercícios físicos</h1>
            <p id="ap_texto">A falta de atividades físicas juntamente com a má alimentação é um dos fatores que contribuem para o surgimento de doenças, como a obesidade. Logo, a prática de atividades físicas faz-se necessária, pois através dela será possível promover melhor qualidade de vida relacionada à saúde e evitar doenças relacionadas, para isso criamos uma aba específica para você se exercitar de forma acessível e de forma que contribua para a prevenção do sedentarismo.</p>
        </div>
    </section>
    <section id="contagem_calorias" class="box-reverse">
        <div id="box_ap" class="box_ap2">
            <h1 id="ap_titulo">Dados nutricionais</h1>
            <p id="ap_texto">Você pode encontrar uma tabela nutricional em praticamente todas as embalagens de alimentos que compra. No entanto, com todos esses números complicados e nomes de ingredientes, a maioria das pessoas simplesmente ignora as informações nutricionais dos produtos. A tabela nutricional é importante para a comunicação entre produtores e consumidores, sendo uma ferramenta que facilite o conhecimento da composição dos alimentos e possa influenciar as escolhas do consumidor, refletindo na saúde do consumidor.</p>
        </div>
        <img id="ap_img" src="assets/dados_nutri.png">
    </section>
    <section id="planos_alimentares" class="box">
        <img id="ap_img" src="assets/calorias-dieta.jpg">
        <div id="box_ap"  class="box_ap1">
            <h1 id="ap_titulo">Calculadora da saúde</h1>
            <p id="ap_texto">O peso ideal é o peso que uma pessoa deve ter para a sua altura, sendo considerado um intervalo de peso saudável e que permite reduzir acentuadamente o risco de diversos problemas de saúde, como obesidade, hipertensão e diabetes ou até mesmo a desnutrição. Para isso, desenvolvemos uma calculadora da saúde para você verificar o seu status em relação ao seu peso.</p>
        </div>
    </section>
    <section id="dados_nutricionais" class="box-reverse">
        <div id="box_ap" class="box_ap2">
            <h1 id="ap_titulo">Cantina IF</h1>
            <p id="ap_texto">Sabendo da realidade dos estudantes do campus, após uma pesquisa minusciosa, vimos que muitos não tem o hábito de consultar as informações nutricionais dos alimentos que está consumindo, para colaborar e ajudar a diminuir os efeitos da desinformação a respeito do que se come, trazemos essa tabela que indica os alimentos disponibilizados pela cantina do instituto, assim como os alimentos mais consumidos.</p>
        </div>
        <img style="border: none;" id="ap_img" src="assets/cantina_if.png" >
    </section>
    <section id="planos_alimentares" class="box">
        <img id="ap_img" src="assets/pesando.jpg">
        <div id="box_ap"  class="box_ap1">
            <h1 id="ap_titulo">Doenças alimentares</h1>
            <p id="ap_texto">Existem diversas doenças que são causadas pela má alimentação e isso já mostra o quanto é importante cuidar das refeições. Além disso, os alimentos ingeridos ainda protegem o nosso corpo, fazem o organismo ter o funcionamento correto e contribuem com o nosso desenvolvimento.</p>
            <p id="ap_texto">Adotar cardápios mais saudáveis deve ser um hábito desde os primeiros anos de vida, pois isso terá um impacto positivo para o desenvolvimento durante a infância e também já começa a proteger a saúde pensando no futuro. </p>
        </div>
    </section>
</main>
<div id="footer">
    <p>Desenvolvido por Jehnnyfer Oliveira Fernandes e Cauã Dantas de Souza</p>
    <p><b>Instituto federal do Rio Grande do Norte - Campus Parnamirim</b></p>
</div>   
