<main>
    <section id="section-exercicios">
        <h1 class="divisoria">Membros Superiores</h1>
        <div id="bracos">
            <div id="flexboxleft" class="ap_text">
                <h1>Braços</h1>
                <p>O treino de braços é de fundamental importância para a saúde do corpo como um todo, pois são usados constantemente nas atividades diárias como no lazer ou no trabalho.</p>
                <p>O treino de braços, quando feito regularmente, também está associado à diminuição de riscos como bursite e tendinite, e ainda facilita atividades rotineiras como carregar compras, mover móveis e levantar objetos pesados.</p>
            </div>
            <div>
                <iframe src="https://www.youtube.com/embed/m1W1BGpPGMo" title="flexoes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div id="ombros">
            <div>
                <iframe src="https://www.youtube.com/embed/unkQ9-ZlIsg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div id="flexboxright" class="ap_text">
                <h1>Ombros</h1>
                <p>Os músculos e articulações que constituem os ombros são importantes para garantir estabilidade e força aos membros superiores e permitir movimentos como levantar os braços e mexê-los para frente, trás e lado.</p>
                <p>É importante que além dos ombros sejam treinados bíceps, tríceps e antebraços para que haja melhores resultados relacionados ao processo de hipertrofia e diminuição da flacidez.</p>
            </div>
        </div>
        <div id="abdomen">
            <div id="flexboxleft" class="ap_text">
                <h1>Abdômen</h1>
                <p>O abdômen é um dos maiores músculos do corpo e um dos responsáveis pela sustentação da coluna. Por esse motivo, ele tem grande responsabilidade no resultado do seu desempenho no treino.</p>
                <p>O treino de abdominal também contribui para estabilizar a postura e melhorar a consciência corporal para realizar movimentos de musculação e também de treino funcional.</p>
            </div>
            <div>
                <iframe src="https://www.youtube.com/embed/NMgWyTivrTI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div id="peitoral">
            <div>
                <iframe src="https://www.youtube.com/embed/m4xE_jfSDyQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div id="flexboxright" class="ap_text">
                <h1>Peitoral</h1>
                <p>Treinar esse músculo é importante para compor um corpo estético, mas seus benefícios vão além da estética. O músculo peitoral maior contribui na estabilização da articulação escapuloumeral e escapulotorácica e contribui para estabilização do tronco.</p>
                <p>As diversas variações do treino de peito nos permitem dar ênfase em cada região dessa musculatura, mas lembrando sempre que o músculo deve ser treinado em sua totalidade.</p>
            </div>
        </div>
        <div id="costas">
            <div id="flexboxleft" class="ap_text">
                <h1>Costas</h1>
                <p>A musculatura das costas ajuda a manter uma postura adequada, ainda mais para quem passa muitas horas do dia sentado em frente ao computador ou dirigindo horas no trânsito. Os músculos do peito ficam tensionados, das costas mais fracos e os ombros rotacionam para frente.</p>
                <p>Os exercícios de fortalecimento ajudam a manter os ombros no lugar e incentivar que consiga manter uma postura ereta por mais tempo.</p>
            </div>
            <div>
                <iframe src="https://www.youtube.com/embed/pgX9kMxHmsc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <h1 class="divisoria">Membros Inferiores</h1>
        <div id="pernas">
            <div>
                <iframe src="https://www.youtube.com/embed/eWyZWZtvsxk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div id="flexboxright" class="ap_text">
                <h1>Pernas</h1>
                <p>As pernas são responsáveis por transportar todo o nosso peso. Se não fortalecê-las, além de ficar com um corpo desproporcional, você pode prejudicar sua mobilidade, sua postura e até ter dores na coluna.</p>
                <p>Trabalhar a região ainda auxilia a queimar gordura e até a ganhar músculos no corpo todo.</p>
            </div>
        </div>
    </section>
</main>
<div id="footer"></div>    