#alimentos-if{
    display: flex;
    background-color: #036564;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 130vh;
    width: 100%;
}

#AIF{
    padding: 0.5em;
}

.card-body{
    background-color: #033649;
    display: flex;
    border-radius: 15px;
    color: #d4d4d4;
    max-height: 90vh;
    overflow: scroll;
}

.card-body::-webkit-scrollbar{
    overflow: hidden;
    width: 0;
    height: 0;
}

.card-body th,td{
    padding: 0.8em;
    text-align: center;
}

.ali{
    text-align: justify;
}